/* Fonts */
@font-face {
    font-family: Quicksand-Light;
    src: url('fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: Quicksand-Regular;
    src: url('fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('fonts/Quicksand-Bold.ttf');
}

/* Style - Overall */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Style - Nav Bar */
body{
    font-family: Quicksand-Regular, serif;
    background-color: black;
    color: white;
}

.navbar{
    background: rgba(0, 0, 0, 0.5)
}

#main-navbar .nav-link {
    color: white;
}

#main-navbar .nav-link:hover{
    color: deepskyblue;
}

/* Style - Home */

#home{
    background-size:cover;
    background-image: url("img/home-bg.jpg");
}

.home-greet{
    font-size: 25px;
}

.home-name{
    margin: -40px;
    font-size: 70px;
}

.home-title{
    font-size: 40px;
}

.home-moreinfo a {
    margin-top: 10%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.home-moreinfo a:hover {
    font-size: 20px;
    color: skyblue;
    text-decoration: none;
}

.home-moreinfo-text {
    padding-top: 10px;
}

.fade-in-text {
    animation: fade-in linear 0.8s;
    -webkit-animation: fade-in linear 0.8s;
    -moz-animation: fade-in linear 0.8s;
    -o-animation: fade-in linear 0.8s;
}

.fade-in-up-text {
    animation: fade-in-up ease-out 1s;
    -webkit-animation: fade-in-up ease-out 1s;
    -moz-animation: fade-in-up ease-out 1s;
    -o-animation: fade-in-up ease-out 1s;
}

.fade-in-down-text {
    animation: fade-in-down ease-out 1s;
    -webkit-animation: fade-in-down ease-out 1s;
    -moz-animation: fade-in-down ease-out 1s;
    -o-animation: fade-in-down ease-out 1s;
}

.float-text {
    animation: float ease-in-out 3s infinite;
    -webkit-animation: float ease-in-out 3s infinite;
    -moz-animation: float ease-in-out 3s infinite;
    -o-animation: float ease-in-out 3s infinite;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-moz-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-o-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}

@keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-moz-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-o-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-moz-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-webkit-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-o-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

/* Style - About */

#about{

}

.about-question{
    font-size: 50px;
}

.about-paragraph{
    font-size: 20px;
}

.about-skills{
}

.test{
    border: 3px solid red;
}

.semicircle-skillbar {
    margin: auto;
    --percentage: 0;
    position: relative;
    width: 80px;
    height: 40px;
    font-size: 15px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.semicircle-skillbar::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 10px solid;
    border-color: dimgrey dimgray white white;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 1.2s ease-in-out;
    -webkit-animation: fillAnimation 1.2s ease-in-out;
    -moz-animation: fillAnimation 1.2s ease-in-out;
    -o-animation: fillAnimation 1.2s ease-in-out;
}

@keyframes fillAnimation{
    from {transform: rotate(-45deg);}
}
@-moz-keyframes fillAnimation{
    from {transform: rotate(-45deg);}
}
@-webkit-keyframes fillAnimation{
    from {transform: rotate(-45deg);}
}
@-o-keyframes fillAnimation{
    from {transform: rotate(-45deg);}
}

/* Style - Projects */

#projects{
}

/* Style - Contact */
#contact{
    background-size: cover;
    background-position: center center;
    background-image: url("img/contact-bg.png");
}