/* Fonts */
@font-face {
    font-family: Quicksand-Light;
    src: url('fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: Quicksand-Regular;
    src: url('fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: Quicksand-Medium;
    src: url('fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: Quicksand-SemiBold;
    src: url('fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('fonts/Quicksand-Bold.ttf');
}

/* Style - Overall */
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Style - Nav Bar */
body{
    font-family: Quicksand-Regular, serif;
    background-color: black;
    color: white;
}

.navbar{
    background: rgba(0, 0, 0, 0.5)
}

#main-navbar .nav-link {
    color: white;
}

#main-navbar .nav-link:hover{
    color: deepskyblue;
}

/* Style - Home */

#home{
    background-size:cover;
    background-image: url("img/home-bg.jpg");
}

.home-greet{
    font-size: 25px;
}

.home-name{
    font-size: 70px;
}

.home-title{
    font-size: 40px;
}

.home-moreinfo a {
    margin-top: 10%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.home-moreinfo a:hover {
    font-size: 20px;
    color: skyblue;
    text-decoration: none;
}

.home-moreinfo-text {
    padding-top: 10px;
}

.reduce-margin-30 {
    margin: -30px;
}

.reduce-margin-40 {
    margin: -40px;
}

.fade-in-text {
    animation: fade-in linear 0.8s;
    -webkit-animation: fade-in linear 0.8s;
    -moz-animation: fade-in linear 0.8s;
    -o-animation: fade-in linear 0.8s;
}

.fade-in-up-text {
    animation: fade-in-up ease-out 1s;
    -webkit-animation: fade-in-up ease-out 1s;
    -moz-animation: fade-in-up ease-out 1s;
    -o-animation: fade-in-up ease-out 1s;
}

.fade-in-down-text {
    animation: fade-in-down ease-out 1s;
    -webkit-animation: fade-in-down ease-out 1s;
    -moz-animation: fade-in-down ease-out 1s;
    -o-animation: fade-in-down ease-out 1s;
}

.float-text {
    animation: float ease-in-out 3s infinite;
    -webkit-animation: float ease-in-out 3s infinite;
    -moz-animation: float ease-in-out 3s infinite;
    -o-animation: float ease-in-out 3s infinite;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-moz-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-o-keyframes fade-in-up {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}

@keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-moz-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}
@-o-keyframes fade-in-down {
    0% {transform: translateY(0px); opacity: 0}
    1% {transform: translateY(-50px);}
    55% {opacity: 0}
    100% {transform: translateY(0px); opacity: 1}
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-moz-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-webkit-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
@-o-keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

#about{
    background-color: darkcyan;
}

#projects{
    background-color: darkgoldenrod;
}

#contact{
    background-color: darkred;
}